<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
  <!-- Site Title-->
  <title>Shuga - Be Our Partner Today</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="shuga candie footsteps shopping rewards ">
  <meta property="og:url" content="https://www.shuga.io/">
  <meta property="og:title" content="Shuga - Be Our Partner Today">
  <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
  <meta property="og:description" content="Perfect blend of the creative, energetic and of course, effective in ROI. Sign-up now! ">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
  </div>
  @@include('../modules/ga.js')
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  @@include('../modules/header.html')

  <!-- Page Contents-->
  <main class="page-content">
    <!-- Section Our Partners-->
    <section class="section-top-66 section-bottom-66">
      <div class="shell text-md-left">
        <div class="range range-xs-center range-xs-middle offset-top-24">
          <div class="cell-md-2 cell-lg-2 cell-lg-push-3">
            <img class="logoImg" src="images/ic-driving-footfall.png" alt="">
          </div>
          <div class="cell-md-6 cell-lg-6 cell-lg-push-4">
            <h4>Driving footfall</h4>
            <p>
              Drive valuable shoppers into your doors and keep them coming back to you simply by using our automated rewards and campaigns.
            </p>
          </div>
        </div>
        <div class="range range-xs-center range-xs-middle offset-top-24">
          <div class="cell-md-2 cell-lg-push-3">
            <img class="logoImg" src="images/ic-no-discount.png" alt="">
          </div>
          <div class="cell-md-6 cell-lg-push-4">
            <h4>Protect your brand</h4>
            <p>
              The most efficient and sustainable digital marketing tool that delivers customers right into your doors without heavy discounting!
            </p>
          </div>
        </div>
        <div class="range range-xs-center range-xs-middle offset-top-24">
          <div class="cell-md-2 cell-lg-push-3">
            <img class="logoImg" src="images/ic-data.png" alt="">
          </div>
          <div class="cell-md-6 cell-lg-push-4">
            <h4>Insight/ data</h4>
            <p>
              Real time in-store consumer insights from category breakdown to market share. Capture your customers effectively and master the art of cross sell & upsell!
            </p>
          </div>
        </div>
        <div class="range range-xs-center range-xs-middle offset-top-24">
          <div class="cell-md-2 cell-lg-push-3">
            <img class="logoImg" src="images/ic-omni-channel.png" alt="">
          </div>
          <div class="cell-md-6 cell-lg-push-4">
            <h4>Product Awareness</h4>
            <p>
              Never let a product go unnoticed on your shelf. Through in-store product engagement to increase your product’s awareness instantly!
            </p>
          </div>
        </div>
        <div class="range range-center range-middle text-center offset-top-24">
          <div class="cell-lg-12">
            <a href="signUp.html">
              <a class="btn btn-ellipse btn-lg" href="signUp.html"
                 style="margin-top:21px; color: #ffffff; background-color: #615199">　　Be Our Partner　　
              </a>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Page Footer-->
  <!-- Default footer-->
  @@include('../modules/footer.html')
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>