<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
    <!-- Site Title-->
    <title>Shuga - FAQ</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="shuga candie footsteps shopping rewards ">
    <meta name="description"
          content="Shuga support is here to help! Learn more about Shuga App that will help you with all of your Shuga activities.">
    <meta property="og:url" content="https://www.shuga.io/">
    <meta property="og:title" content="Shuga - FAQ">
    <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
    <meta property="og:description"
          content="Shuga support is here to help! Learn more about Shuga App that will help you with all of your Shuga activities.">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <!--[if lt IE 10]>
    <div
            style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
        </a>
    </div>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113294168-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-113294168-1');
    </script>

    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
    <!-- Page Head-->
    @@include('../modules/header.html')
    <!-- Page Contents-->
    <main class="page-content">
        <!-- Classic  Accordion-->
        <section class="section-98 section-md-124">
            <div class="shell">
                <div class="range range-xs-center text-left">
                    <div class="cell-xs-10">
                        <img
                            src="https://res.cloudinary.com/dqkb8ikwe/image/upload/v1563867019/njljjuaenqlxtin6vbqg.png"
                            alt="FairPriceOn">
                    </div>
                </div>
                <div class="range range-xs-center text-left">
                    <style>
                        h6 {margin-bottom: 0px;}
                    </style>
                    <div class="cell-xs-10">
                        <h2>Shuga High x FPON</h2>
                        <p>Get FREE Ferrero Rocher Chocolate (worth $9.90)</p>
                        <p>Valid till 7 September 2019</p>
                        <h4 class="text-underline">T&Cs</h4>

                        <h6 class="text-underline">PAYMENT MODE</h6>
                        <span>All payment modes</span>

                        <h6 class="text-underline">DELIVERY MODE</h6>
                        <span>Home Delivery</span><br>
                        <span>Click & Collect</span>

                        <h6 class="text-underline">TERMS & CONDITIONS</h6>
                        <ul>
                            <li>One unit of Ferrero Rocher Chocolate – T16 is only redeemable with a min. spend of
                                SGD$0.10.
                            </li>
                        </ul>

                        Prices, purchases and delivery
                        <ul>
                            <li>All prices listed are in Singapore Dollars.</li>
                            <li>There is a bulk order charge of $26.75 (incl. GST) for every order with more than 600
                                items purchased.
                            </li>
                            <li>Delivery date and time are subjected to availability.</li>
                            <li>Delivery service is only available in the main island of Singapore. It is not available
                                to any of the outlying islands.
                            </li>
                            <li>Customer needs to be present to receive the delivered items. There will be a re-delivery
                                charge of $7.00 (incl. GST) imposed after the unsuccessful first delivery. The
                                re-delivery charge is to be handed over to the delivery man.
                            </li>
                            <li>Customers who wish to have their purchases left outside the home, FairPrice On shall not
                                be liable for any damage or missing items.
                            </li>
                            <li>There is a cancellation charge of $20 (incl. GST) for normal orders.</li>
                            <li>There is a cancellation charge of $30 (incl. GST) for bulk orders.</li>

                        </ul>

                        Usage of promo codes (where applicable)
                        <ul>
                            <li class="text-bold">This promo code cannot be used for the purchase of certain restricted products, for
                                example, certain infant milk formula.
                            </li>
                            <li>Promo code cannot be used with any other available promo codes. FairPrice On reserves
                                the right to reject any order that has violated this.
                            </li>
                            <li>Redemption of promo code is applicable to purchases made on FairPrice On web and app.
                            </li>
                            <li>Promo code is to be used for one-time redemption only.</li>
                            <li>Dollar-off promo codes cannot be stacked together in the same transaction.</li>
                            <li>Using a discount promo code promotion in conjunction with other free gift promotions,
                                may alter the minimum amount for it.
                            </li>
                            <li>Net value in-cart – purchase $39 & above to enjoy free Home Delivery, purchase $29 &
                                above to enjoy free Click & Collect. Minimum purchase amount for free Home Delivery and
                                Click & Collect service may differ for promotional periods. The minimum net value
                                in-cart for free Home Delivery and Click & Collect service will be in accordance to that
                                stated on the FairPrice website.
                            </li>
                            <li>It is advisable to have at least $5 net value in-cart after application of promo code in
                                order to be able to checkout.
                            </li>
                        </ul>

                        Others
                        <ul>
                            <li>Discounts, vouchers and privileges are not exchangeable or refundable for cash or other
                                goods and services.
                            </li>
                            <li>FairPrice On reserves the rights to vary/amend the privileges or terms and conditions of
                                this promotion without prior notice. For any enquiries, please contact our FairPrice On
                                Team by submitting an enquiry at <a style="text-decoration: underline;" href="http://www.fairprice.com.sg/support" target="_blank">http://www.fairprice.com.sg/support</a>
                                .
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Page Footer-->
    <!-- Default footer-->
    <footer class="section-relative section-top-20 section-bottom-20 page-footer bg-gray-base context-dark">
        <div class="shell">
            <div class="range range-sm-center text-lg-left">
                <div class="cell-sm-8 cell-md-12">
                    <div class="range range-xs-center">
                        <div class="cell-xs-10 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="aboutUs.html">About Shuga</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="https://shuga.app.link/eHiPsAG8LJ">Download now</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="contact.html">Contact us</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1">
                            <a href="faq.html">FAQ</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="beOurPartner.html">Be our partner</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="privacy.html">Privacy policy</a>
                        </div>
                        <div
                            class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
                            <a href="terms.html">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
