<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
  <!-- Site Title-->
  <title>Shuga- How It Works - Fun and Addicted Rewards App</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="shuga candie footsteps shopping rewards ">
  <meta name="description" content="Simply walk-in to our partner stores, scan the featured products to earn you first rewards points- Shuga.">
  <meta property="og:url" content="https://www.shuga.io/">
  <meta property="og:title" content="Shuga- How It Works - Fun and Addicted Rewards App">
  <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
  <meta property="og:description" content="Simply walk-in to our partner stores, scan the featured products to earn you first rewards points- Shuga.">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
  </div>
  @@include('../modules/ga.js')
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  @@include('../modules/header.html')
  <!-- Page Contents-->
  <main class="page-content">
    <section class="section section-padding-box"></section>
    <!--Header Section(Mobile)-->
    <section class="section hidden-md hidden-lg">
      <div class="parallax-container" data-parallax-img="images/banner-how-m.png">
        <div class="parallax-content">
          <div class="shell">
            <div class="range range-sm-center section-124">
              <div class="cell-sm-10 offset-sm-top-66 text-white">
                <h2>Welcome to your first Shuga High! With everyday vouchers to earn, you’ll be addicted!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Header Section(Desktop)-->
    <section class="section hidden-xs hidden-sm">
      <div class="parallax-container darker" data-parallax-img="images/shutterstock_290644925-s.png">
        <div class="parallax-content">
          <div class="shell">
            <div class="range range-sm-center section-124">
              <div class="cell-sm-10 offset-sm-top-66 text-white">
                <h1>Welcome to your first Shuga High! With everyday vouchers to earn, you’ll be addicted!</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Download Section-->
    <section class="section-98 bg-lighter">
      <div class="shell">
        <h1>Download the APP</h1>
        <div
            class="range range-sm-middle range-sm-center range-md-middle range-md-center offset-top-41 offset-sm-top-41 text-center text-lg-center">
          <div class="cell-sm-10 cell-lg-10" style="border-bottom: solid 0.8px #979797;">
            <!-- Image -->
            <img src="images/interface-preview.png" alt="Download Shuga Rewards App" style="width: 60%">
          </div>
        </div>
        <div
            class="range range-sm-middle range-sm-center range-md-middle range-md-center offset-top-41 offset-sm-top-41 text-center text-lg-center">
          <div class="cell-sm-10 offset-sm-top-10 offset-md-top-0 cell-md-4 cell-lg-4">
            <a href="https://itunes.apple.com/sg/app/shuga-rewards/id1320802544?l=zh&ls=1&mt=8">
              <img src="images/app-store@3x.png" alt="Download Shuga Rewards App" style="width: 100%">
            </a>
          </div>
          <div class="cell-sm-10 offset-sm-top-20 offset-md-top-0 cell-md-4 cell-lg-4">
            <a href="https://play.google.com/store/apps/details?id=com.shuga.shugaapp.prod">
              <img src="images/google-store@3x.png" alt="Download Shuga Rewards App" style="width: 100%">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--How it works Section-->
    <section class="section-98">
      <div class="shell">
        <div class="range range-sm-center text-lg-center">
          <div class="cell-sm-8 cell-md-10 cell-lg-10 offset-lg-top-0">
            <div class="inset-lg-right-20">
              <h1>How it works</h1>
              <div class="hidden-xs hidden-sm">
                <img src="images/shuga-info2-01.png" class="offset-top-30" alt="Shuga Rewards App how it works" style="width: 100%">
                <img src="images/shuga-info2-03.png" class="offset-top-0" alt="Shuga Rewards App how it works" style="width: 100%">
              </div>
              <div class="hidden-md hidden-lg">
                <img src="images/shuga-info2-02.png" class="offset-top-30" alt="Shuga Rewards App how it works" style="width: 100%">
                <img src="images/shuga-info2-04.png" class="offset-top-0" alt="Shuga Rewards App how it works" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Page Footer-->
  <!-- Default footer-->
  @@include('../modules/footer.html')
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>