<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <!-- Site Title-->
  <title>Shuga - Fun and Addicted Rewards App</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="shuga candie footsteps shopping rewards ">
  <meta property="og:url" content="https://www.shuga.io/">
  <meta property="og:title" content="Shuga - Fun and Addicted Rewards App">
  <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
  <meta property="og:description" content="Earn free vouchers while shopping at your favourite stores . With everyday vouchers to earn , you'll be addicted !">
  <meta name="apple-itunes-app" content="app-id=1320802544">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
  </div>
  @@include('../modules/ga.js')
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  @@include('../modules/header.html')
  <!-- Page Contents-->
  <main class="page-content">
    <section class="section section-padding-box"></section>
    <!--Header Section(Mobile)-->
    <section class="section parallax-container indexTopSection context-dark darker hidden-md hidden-lg"
             data-parallax-img="images/banner-index-1-m.png">
      <div class="parallax-content">
        <div class="shell">
          <div class="range">
            <div class="range range-xs-center range-md-left range-xs-middle section-110">
              <div class="cell-sm-6 offset-top-30">
                <h1 class="animateItem text-bold" data-animation="fadeInUp">Turn your footsteps into shopping
                  rewards</h1>
                <h4>Be a guilt-free ‘shopaholic’ by earning rewards for the shopping you already do.</h4>
                <div class="offset-top-30 offset-md-top-60">
                  <a class="btn animateItem btn-ellipse" href="https://shuga.app.link/eHiPsAG8LJ"
                     style="color: #ffffff; background-color: #ea3173"
                     data-animation="fadeInUp" data-delay="0.2" data-duration="1">
                    　　DOWNLOAD NOW　　
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Header Section(Desktop)-->
    <section class="section parallax-container indexTopSection context-dark darker hidden-xs hidden-sm"
             data-parallax-img="images/shutterstock_731373841-s.png">
      <div class="parallax-content">
        <div class="shell">
          <div class="range">
            <div class="range range-xs-center range-md-left range-xs-middle section-110">
              <div class="cell-sm-6 offset-top-30 text-left">
                <h1 class="animateItem text-bold" data-animation="fadeInUp">Turn your footsteps into shopping
                  rewards</h1>
                <h4>Be a guilt-free ‘shopaholic’ by earning rewards for the shopping you already do.</h4>
                <div class="offset-top-30 offset-md-top-60">
                  <a class="btn animateItem btn-ellipse" href="https://shuga.app.link/eHiPsAG8LJ"
                     style="color: #ffffff; background-color: #ea3173"
                     data-animation="fadeInUp" data-delay="0.2" data-duration="1">
                    　　DOWNLOAD NOW　　
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Break Section-->
    <section class="section-98">
      <div class="shell">
        <div class="range range-sm-center text-lg-center">
          <div class="cell-sm-6 cell-lg-6 offset-top-30 offset-lg-top-0">
            <img style="width: 100%;" src="images/presentBox@3x.png" alt="">
          </div>
          <div class="cell-sm-10 cell-lg-10 offset-top-0">
            <div class="inset-lg-right-20">
              <h3>Sign up now to receive 600 Shuga rewards worth $3.00!</h3>
              <h3>Earn more Shuga by shopping and snapping receipts to redeem gift cards from the stores you love!</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Middle Section-->
    <section class="section">
      <div class="parallax-container darker" data-parallax-img="images/shutterstock_603113963-s.png">
        <div class="parallax-content">
          <div class="shell">
            <div class="range range-sm section-124">
              <div class="cell-sm-10 offset-sm-top-50 text-left text-white">
                <h1>Be rewarded for every purchase you make</h1>
                <h4>
                  Shuga will award you for any receipt you snap. From your morning coffee, weekly groceries to your
                  night out in town!
                </h4>
                <a class="btn animateItem btn-ellipse offset-top-30 offset-md-top-60" href="howItWorks.html"
                   style="color: #ffffff; background-color: #ea3173"
                   data-animation="fadeInUp" data-delay="0.2" data-duration="1">
                  　　FIND OUT MORE　　
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Our Partners-->
    <section class="section-98 hidden">
      <div class="shell-wide">
        <h2><span class="big">Our Partners</span></h2>
        <div class="offset-top-66">
          <div class="range range-xs-center grid-group-md">
            <div class="cell-xs-6 cell-sm-3 cell-md-2 cell-xl-1">
              <div class="blurb-mini wow fadeInLeft" data-wow-delay="0.6s"
                   style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="partnerLogo"><img class="logoImg" src="images/logo-totallyhotstuff@3x.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="cell-xs-6 cell-sm-3 cell-md-2 cell-xl-1">
              <div class="blurb-mini wow fadeInLeft" data-wow-delay="0.6s"
                   style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="partnerLogo"><img class="logoImg" src="images/logo-canvas@3x.jpg" alt=""></div>
              </div>
            </div>
            <div class="cell-xs-6 cell-sm-3 cell-md-2 cell-xl-1">
              <div class="blurb-mini wow fadeInLeft" data-wow-delay="0.6s"
                   style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="partnerLogo"><img class="logoImg" src="images/logo-courts@3x.jpg" alt=""></div>
              </div>
            </div>
            <div class="cell-xs-6 cell-sm-3 cell-md-2 cell-xl-1">
              <div class="blurb-mini wow fadeInLeft" data-wow-delay="0.6s"
                   style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="partnerLogo"><img class="logoImg" src="images/logo-fomo@3x.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Content Box-->
    <section class="section-98">
      <div class="shell bg-lighter">
        <div class="range range-sm-middle range-sm-center range-md-middle range-md-center text-center text-lg-center">
          <div class="cell-sm-10 cell-lg-6 cell-lg-push-3">
            <!-- Image -->
            <img src="images/shutterstock_447252268-s.jpg" alt="" style="width: 100%">
          </div>
          <div class="cell-sm-10 cell-lg-6 cell-lg-push-4">
            <section class="section section-20 bg-lighter hidden-lg"></section>
            <h4>Drive conversion with on the go rewards.</h4>
            <p>
              Retail today is connected and competitive, shoppers are smart and savvy, it’s time to
              take your digital marketing to the next level.
            </p>

            <a class="btn btn-lg btn-ellipse offset-top-30 offset-md-top-60" href="beOurPartner.html"
               style="color: #ffffff; background-color: #615199">
              　　Become a Partner　　
            </a>
          </div>
        </div>
        <section class="section section-20 bg-lighter hidden-lg"></section>
      </div>
    </section>
  </main>

  <!-- Page Footer-->
  @@include('../modules/footer.html')
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>