<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
  <!-- Site Title-->
  <title>Shuga</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="shuga candie footsteps shopping rewards ">
  <meta property="og:url" content="https://www.shuga.io/">
  <meta property="og:title" content="Shuga">
  <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
  <meta property="og:description" content="Turn your footsteps into shopping rewards">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
  </div>
  @@include('../modules/ga.js')
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  @@include('../modules/header.html')

  <!-- Page Contents-->
  <main class="page-content">
    <!--Header Section-->
    <section class="section section-padding-box"></section>
    <!--Header Section(Desktop, Tablet)-->
    <section class="section section-124 hidden-xs rewardsBanner">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-sm-12" style="padding-top: 135px">
            <h2 style="color: #615199">Be rewarded for everyday life.</h2>
          </div>
        </div>
      </div>
    </section>

    <!--Header Section(Mobile)-->
    <section class="section section-124 hidden-sm hidden-md hidden-lg rewardsMobileBanner">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-sm-12 offset-top-110">
            <h2 style="color: #615199">Be rewarded for everyday life</h2>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- Modal -->
      <div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 15vh;">
          <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px; border-bottom: 0; padding-top: 5px">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body rewardModal scrollModal">
            </div>
            <div class="modal-footer" style="border-top: 0; padding: 5px">
            </div>
          </div>
        </div>
      </div>
      <div class="shell rewardList">
        <div class="range range-xs-center offset-lg-top-10" style="margin-bottom: 20px;">
          @@for (var i = 0; i < rewardItems.length; i++) {
            @@include('../../dist/products/`+rewardItems[i]+`.html')
          }
        </div>
      </div>
    </section>
  </main>

  <!-- Page Footer-->
  <!-- Default footer-->
  @@include('../modules/footer.html')
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script>
  function openModal(url) {
      $('.modal-body').load(url);
      $('#rewardModal').modal('show');
  }
  // $('#exampleModal').on('show.bs.modal', function (event) {
  //     // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  //     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  //     var modal = $(this)
  //     // modal.find('.modal-body').html('hihi')
  // })
</script>
</body>
</html>