<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
  <!-- Site Title-->
  <title>Shuga - Shuga High</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="shuga candie footsteps shopping rewards ">
  <meta name="description" content="Shuga is a Singapore-based company created a shopping app that offers users rewards for shopping activities in-stores such as walking into stores, scanning items, purchases and submitting receipts.">
  <meta property="og:url" content="https://www.shuga.io/">
  <meta property="og:title" content="Shuga - Shuga High & Cash Back">
  <meta property="og:image" content="https://www.shuga.io/images/shuga-banner@3x.png">
  <meta property="og:description" content="Shuga is a Singapore-based company created a shopping app that offers users rewards for shopping activities in-stores such as walking into stores, scanning items, purchases and submitting receipts.">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 10]>
  <div
      style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
    <a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
  </div>
  @@include('../modules/ga.js')
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
  <style>
    .title-text {
      font-family: Lato;
      font-size: 45px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 1.4px;
      text-align: center;
      color: #615199;
    }
    .title-description {
      font-family: Lato;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #434345;
      text-align: left;
      margin-top: 50px;
    }
    .content-text-blue {
        font-family: Lato;font-size: 30px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: 0.8px;color: #615199;
    }
    .content-text-red {
        font-family: Lato;font-size: 30px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: 0.8px;color: #ea3173;
    }
    .content-text-black {
        font-family: Lato;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: 0.6px;
        color: #434345;
    }
    .text-footer {
        font-family: Lato;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #434345;
    }
  </style>
</head>
<body>
<!-- Page-->

<div class="page text-center">
  <!-- Page Head-->
  @@include('../modules/header.html')

  <!-- Page Contents-->
  <main class="page-content">
    <!--Header Section-->
    <section class="section section-padding-box"></section>
    <!--Header Section(Desktop, Tablet)-->
    <section class="section section-124 hidden-xs context-dark darker shugaHighDetailBanner">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-sm-12">
          </div>
        </div>
      </div>
    </section>


    <!--Header Section(Mobile)-->
    <section class="section section-124 hidden-sm hidden-md hidden-lg context-dark darker shugaHighDetailMobileBanner">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-sm-12 offset-top-124">
          </div>
        </div>
      </div>
    </section>

    <section class="section section-41">
      <div class="shell">
        <div class="range range-sm-center text-center">
          <div class="cell-sm-12 cell-lg-12 offset-top-30 offset-lg-top-0">
            <div class="inset-lg-right-20">
              <h1 class="title-text">WHO SAYS TOO MUCH SHUGA IS BAD? LET’S GET ON A SHUGA HIGH!</h1>
              <p class="title-description">We hear you! Shuga High is set to give you that adrenaline rush because ATTRACTIVE prizes are coming your way. What’s better than having chances to win thousands weekly without spending more? Just convert your everyday receipts to Candies and win!
                <br><br>
                Here’s what you need to know:</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: rgba(97, 81, 153, 0.05); padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6">
                  <div><img style="width: 50px; height: 50px;" src="images/number-1.png" alt="1"></div>
                  <div style="margin-top: 15px"><h4 class="content-text-blue">Shuga High will replace Shuga Wheel. If you don’t like it, we won’t force it.</h4></div>
              </div>
              <div class="cell-md-6 cell-lg-6">
                  <img class="center-block" style="height: 200px" src="images/shuga-high-detail-1.png">
              </div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>

    <section>
        <div class="range range-sm-middle text-md-left" style="background-color: #ffffff; padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
            <div class="cell-md-1 cell-lg-1"></div>
            <div class="cell-md-10 cell-lg-10 range">
                <div class="cell-md-6 cell-lg-6 hidden-xs hidden-sm">
                    <img style="height: 200px" src="images/shuga-high-detail-2.png">
                </div>
                <div class="cell-md-6 cell-lg-6">
                    <div><img style="width: 50px; height: 50px;" src="images/number-2.png" alt="1"></div>
                    <div style="margin-top: 15px"><h4 class="content-text-red">Prizes worth thousand of dollars will be up for grabs every week in Shuga High!</h4></div>
                </div>
                <div class="cell-md-6 cell-lg-6 hidden-md hidden-lg">
                    <img style="height: 200px" src="images/shuga-high-detail-2.png">
                </div>
            </div>
            <div class="cell-md-1 cell-lg-1"></div>
        </div>
    </section>

    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: rgba(97, 81, 153, 0.05); padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6">
                  <div><img style="width: 50px; height: 50px;" src="images/number-3.png" alt="1"></div>
                  <div style="margin-top: 15px"><h4 class="content-text-blue">Exchange your Candies for tickets. The more tickets you submit, the higher your chances of winning!</h4></div>
              </div>
              <div class="cell-md-6 cell-lg-6">
                  <img class="center-block" style="height: 200px" src="images/shuga-high-detail-3.png">
              </div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>

    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: #ffffff; padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6 hidden-xs hidden-sm">
                  <img style="height: 200px" src="images/shuga-high-detail-4.png">
              </div>
              <div class="cell-md-6 cell-lg-6">
                  <div><img style="width: 50px; height: 50px;" src="images/number-4.png" alt="1"></div>
                  <div style="margin-top: 15px"><h4 class="content-text-blue">The draw typically happens every Wednesday, at 9pm. Hint:<br><span class="content-text-red">If there is no draw for the week, you can look forward to larger prizes.</span></h4></div>
              </div>
              <div class="cell-md-6 cell-lg-6 hidden-md hidden-lg">
                  <img style="height: 200px" src="images/shuga-high-detail-4.png">
              </div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>

    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: rgba(97, 81, 153, 0.05); padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6">
                  <div><img style="width: 50px; height: 50px;" src="images/number-5.png" alt="1"></div>
                  <div style="margin-top: 15px"><h4 class="content-text-blue">Winners will be notified via push notification, in-app message and email. Be sure to have your notifications turned on!</h4></div>
              </div>
              <div class="cell-md-6 cell-lg-6">
                  <img class="center-block" style="height: 200px" src="images/shuga-high-detail-5.png">
              </div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>

    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: #ffffff; padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6">
                  <img style="width: 50px; height: 50px;" src="images/number-6.png" alt="1">
              </div>
              <div style="margin-top: 15px;padding-left: 15px"><h4 class="content-text-blue">Candies expire in 4 weeks. Below is an illustration. Alternatively, just ensure your notifications are turned on so you can be reminded when there are Candies expiring.</h4></div>
              <div class="hidden-xs hidden-sm range"><img class="center-block" style="height: 150px;margin-top: 30px;margin-bottom: 50px" src="images/shuga-high-detail-6.png"></div>
              <div class="hidden-md hidden-lg range"><img class="center-block" style="height: 100px;margin-top: 30px;margin-bottom: 50px" src="images/shuga-high-detail-6.png"></div>
              <div style="margin-top: 15px"><h4 class="content-text-black">Candies collected on Thursday of week 1 to Tuesday of week 2, have the same expiration on week 4 Wednesday 8:59pm (Every Wednesday 8:59pm is an end of a period). In the same example, Candies collected from Week 2 Wednesday 9:00pm to week 3 will expire only on Week 5 Wednesday 8:59pm.</h4></div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>

    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: rgba(97, 81, 153, 0.05); padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-1 cell-lg-1"></div>
          <div class="cell-md-10 cell-lg-10 range">
              <div class="cell-md-6 cell-lg-6">
                  <div><img style="width: 50px; height: 50px;" src="images/number-7.png" alt="1"></div>
                  <div style="margin-top: 15px"><h4 class="content-text-blue">If you’re naughty, you will forfeit your prizes. We have zero tolerance for naughty people, so don’t be one. Play fair.</h4></div>
                  <a class="btn btn-lg btn-ellipse offset-top-30 offset-md-top-60 shugahigh center-block" href="howToAvoid.html" style="background-color: #ea3173;width: 270px">HOW TO AVOID</a>
              </div>
              <div class="cell-md-6 cell-lg-6">
                  <img class="center-block" style="height: 200px" src="images/shuga-high-detail-7.png">
              </div>
          </div>
          <div class="cell-md-1 cell-lg-1"></div>
      </div>
    </section>


    <section>
      <div class="range range-sm-middle text-md-left" style="background-color: rgba(97, 81, 153, 0.05); margin-top: 69px;padding-top: 50px; padding-bottom: 50px; padding-right:20px;padding-left:20px">
          <div class="cell-md-3 cell-lg-3"></div>
          <div class="cell-md-6 cell-lg-6">
              <h4 class="text-footer text-center">‘You’ve been warned, it can be really addictive!’</h4>
              <h4 class="text-footer text-right">- Shuga Team</h4>
          </div>
          <div class="cell-md-3 cell-lg-3"></div>
      </div>
    </section>


      <section class="section-41">
          <div class="shell">
              <div class="range range-xs-center offset-sm-top-66">
                  <div class="cell-sm-10 cell-lg-10">
                      <div class="range">
                          <div class="cell-sm-6 cell-lg-6 offset-top-66 offset-xs-top-0">
                              <!-- Box Member-->
                              <div class="box-member" style="height: 303px;" ><img class="img-responsive img-circle" style="height: 303px;" src="images/cash-back-circule.png" alt="Shuga Rewards Team">
                              </div>
                              <div><a class="btn btn-lg btn-ellipse offset-top-30 offset-md-top-60 shugahigh" href="cashBackDetail.html">GO TO CASHBACK</a></div>
                          </div>
                          <div class="cell-sm-6 cell-lg-6 offset-top-66 offset-sm-top-0 left-side">
                              <!-- Box Member-->
                              <div class="box-member" style="height: 303px;padding-top: 110px"><img class="img-responsive" style="height: 127px;" src="images/shuga-app.png" alt="Shuga Rewards Team">
                              </div>
                              <div><a class="btn btn-lg btn-ellipse offset-top-30 offset-md-top-60 shugahigh" href="https://shuga.app.link/eHiPsAG8LJ" target="_blank">OPEN SHUGA APP</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>

  <!-- Page Footer-->
  <!-- Default footer-->
  @@include('../modules/footer.html')
</div>
<!-- JavaScript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>