  <footer class="section-relative section-top-20 section-bottom-20 page-footer bg-gray-base context-dark">
    <div class="shell">
      <div class="range range-sm-center text-lg-left">
        <div class="cell-sm-8 cell-md-12">
          <div class="range range-xs-center">
            <div class="cell-xs-10 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="aboutUs.html">About Shuga</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="https://shuga.app.link/eHiPsAG8LJ">Download now</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="contact.html">Contact us</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1">
              <a href="faq.html">FAQ</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="beOurPartner.html">Be our partner</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="privacy.html">Privacy policy</a>
            </div>
            <div class="cell-xs-10 offset-top-41 offset-xs-top-0 text-xs-center text-md-center cell-md-2 cell-lg-1_5">
              <a href="terms.html">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>