<div class="product product-grid" style="margin-top: 10px">
  <!-- Product Image-->
  <div class="product-image"
       style="min-height: 193px; background-color: white; display: flex; align-items: center; justify-content: center">
    <img class="img-responsive product-image-area" style="max-height: 193px" src="@@reward.imageUrl" alt="@@reward.name"/>
  </div>
  <!-- Product Title-->
  <h5 class="product-title offset-top-20" style="font-size: 18px"><a href="#">@@reward.name</a></h5>
  <!-- Product price-->
  <div class="product-price text-bold offset-top-10" style="font-size: 14px; font-weight: normal; color: #999999">
    <span>$@@reward.price</span>
    @@if(reward.originalShuga !== null) {
      <span style="margin-left: 15px;">
        <img src="images/ic-shuga-gray.svg" class="icon_shuga">
        <span style="text-decoration:line-through;">@@reward.originalShuga</span>
      </span>
    }

  </div>
  <!-- Product shuga-->
  <div class="product-price text-bold" style="font-size: 14px; font-weight: normal">
    <img src="images/ic-shuga.svg" class="icon_shuga"><span>@@reward.shuga</span>
  </div>
</div>