.rd-navbar-default.rd-navbar-static .rd-navbar-inner {
    background-color: #ffffff;
}

.rd-navbar-default.rd-navbar-transparent.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li a {
    color: #333333;
}

.rd-navbar-default.rd-navbar-transparent.rd-navbar-static .rd-navbar-nav > li a {
    color: #333333;
}

.section-padding-box {
    height: 50px;
}

.partnerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnerLogo .logoImg {
    border: solid 14px #f4f4f4;
}

.logoImg {
    width: 160px;
    height: 160px;
    background-color: #ffffff;
}

.CEOImg {
    height: 350px;
    background-image: url('../images/member-6@3x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.CTOImg {
    height: 350px;
    background-image: url('../images/member-5@3x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

q:before {
    font-size: 150%;
}

q:after {
    font-size: 150%;
}

.signUpForm {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: -1px 2px 7px 0 rgba(95, 73, 123, 0.5);
    margin-left: 3px;
    margin-right: 3px;
}

.signUpTopSection {
    height: 350px;
    background-image: url('../images/shutterstock_704853832-s.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.darker .material-parallax {
    filter: brightness(80%);
}