<tr>
	<td>
		<table cellspacing="0" cellpadding="0"
			   style="background-image: url('https://www.shuga.io/images/edm/2018050901/bg@2x.png');
						background-repeat: no-repeat;
						background-position: 0px 0px;
						background-size: 600px 1020px;
						display: block;
						background-color: #FFFFFF"
			   width="600" height="1020" >
			<tr>
				<td colspan="2" background="https://www.shuga.io/images/edm/2018050901/button1.png" style="width: 608px;height: 15px;"></td>
			</tr>
			<tr>
				<td colspan="2">
                    <image style="width: 97px;height: 41px;margin-top: 15px;margin-left: 10px" src="https://www.shuga.io/images/edm/20180831/logo@2x.png" >
                </td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 70px;padding-left: 25px;padding-right: 25px">
					<span style="font-family: Lato;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;">Dear Shuga User,<br><br>
					We have some good news to share – Shuga will be launching Cashback and Shuga High on September 2018. Our journey to bring you the best rewards continues to get better and better. From earning Shuga simply by visiting our Partner Stores to collecting Candies from every receipt you own, we have only one mission in mind – to reward you in every way possible.
					</span>
				</td>
			</tr>
			<tr>
				<td width="50%" align="center" style="padding-top: 30px">
					<img src="https://www.shuga.io/images/edm/20180831/cashback-and-shugahigh@2x.png" width="236" height="236" />
				</td>
				<td width="50%" align="center" style="padding-top: 30px">
					<img src="https://www.shuga.io/images/edm/20180831/cashback-and-shugahigh-copy@2x.png" width="236" height="236" />
				</td>
			</tr>
			<tr>
				<td width="50%" valign="top" style="padding-top: 30px; padding-left: 30px;padding-right: 30px">
					<span style="text-align:left;font-family: Lato;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;">As of this moment, Shuga can only be exchanged for vouchers or products that are listed. Once Cashback is launched, it will allow you to exchange your Shuga for cash where we credit it straight into your bank account!</span>
				</td>
				<td width="50%" valign="top" style="padding-top: 30px; padding-left: 30px;padding-right: 30px">
					<span style="text-align:left;font-family: Lato;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;">Exciting! It’s simply exciting! In short, we are bringing you desirable prizes week – a laptop, an iPhone, or a handbag, to name just a few. Your Candies can potentially let you win prizes worth tens of thousands every month!</span>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center" style="padding-top: 70px;">
					<a href="https://www.shuga.io/shugaHigh.html" target="_black"><img src="https://www.shuga.io/images/edm/20180831/sellfull.png" width="185" height="42" /></a>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 70px;padding-left: 25px;padding-right: 25px">
					<span style="font-family: Lato;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;">Thank you for being with us on the journey where we bring you the best rewards possible!<br>You are our motivation and our drive to scale ever greater heights.<br><br>Regards,<br>Shuga Team<br><br></span>
				</td>
			</tr>
		</table>
	</td>
</tr>
