
<tr class="inner">
    <td class="one-column">
        <table width="100%">
            <tr>
                <td class="contents" style="width: 100px;line-height: 20px" align="center">
                    <br>
                    Feeling the Monday blues? We have some good news for you to kick start the week!<br><br>
                    <b>1 Shuga will now be granted for every non-partner receipt snapped! Yay!</b><br><br>
                    Do note that there will now be a new cap of 4 non-partner receipts per day allowed (instead of 8). Just like before, we take only a maximum of 2 receipts from the same merchant.<br><br>
                    In the next couple of days, we will be releasing more exciting news on how you can earn more Candies and Shuga with our new features! Have a good week ahead :)<br><br>
                    <br><br>
                    Cheers,<br>
                    Shuga Team<br>
                </td>
            </tr>
            <tr><td style="width: 600px;height: 10px;"> </td></tr>
        </table>
    </td>
</tr>
