<tr>
	<td class="full-width-image edm">
		<br>
		Hi {{profile.displayName}},<br>
		<br>
        You are invited to visit Jameson Furnishings! Enjoy 35% off storewide with a 2.1% Shuga Rebate.<br>
        <br>
		<a style="outline:none;" target="_blank" href="http://bit.ly/2zzedvH">
			<img src="https://www.shuga.io/images/edm/2018111001/2018111001.jpg" width="600">
		</a>
        <br>
        <br>
        Enjoy the weekend!<br>
        <br>
        Regards,<br>
        Shuga Team<br>
        <br>
        <br>
        P.S. You may have received a similar email this morning but we assure you this is not spam. Someone made a mistake in the earlier one and rest assured he/she is being punished now over 1,000 push-ups.
        <br>
    </td>
</tr>
