<tr>
	<td>
		<style>
			img {
				max-width: 100%;
			}
			table.body-wrap { width: 100%;}

			.container {
				display:block!important;
				max-width:500px!important;
				margin:0 auto!important; /* makes it centered */
				clear:both!important;
			}

			.content {
				padding:15px;
				max-width:600px;
				margin:0 auto;
				display:block;
			}

			.content table { width: 100%; }
			.column {
				width: 250px;
				float:left;
			}
			.column tr td { padding: 15px; }
			.column-wrap {
				padding:0!important;
				margin:0 auto;
				max-width:600px!important;
			}
			.column table { width:100%;}

			.clear { display: block; clear: both; }

			@media only screen and (max-width: 600px) {

				a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

				div[class="column"] { width: auto!important; float:none!important;}

				table.social div[class="column"] {
					width:auto!important;
				}

			}
		</style>
		<table class="body-wrap" cellspacing="0" cellpadding="0"
			   style="
			   padding-left:30px;padding-right:25px;
				background-image: url('https://www.shuga.io/images/edm/2018050901/bg@2x.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: 10px 10px;">
			<tr>
				<td></td>
				<td class="container">

					<!-- content -->
					<div class="content">
						<table>
							<tr>
								<td>
									<span style="font-size: 14px;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;"><br><br>Hi {{profile.displayName}},<br><br>
									The team at Shuga is always working hard to bring you the best rewards with the right merchants. With that, we are absolutely excited to welcome some new shops on board this November!<br><br>
									</span>
								</td>
							</tr>
						</table>
					</div>

					<!-- COLUMN WRAP -->
					<div class="column-wrap">
						<div class="column">
							<table align="left">
								<tr>
									<td align="center">
										<a href="http://bit.ly/2FjYuXz" target="_black"><img src="https://www.shuga.io/images/edm/20181114/partea-icon.png" width="180" height="241" /></a>
									</td>
								</tr>
							</table>
						</div>
						<div class="column">
							<table align="left">
								<tr>
									<td align="center">
										<a href="http://bit.ly/2qFJskv" target="_black"><img src="https://www.shuga.io/images/edm/20181114/times-book-icon.png" width="180" height="241" /></a>
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div><!-- /COLUMN WRAP -->

					<!-- COLUMN WRAP -->
					<div class="column-wrap">
						<div class="column">
							<table align="left">
								<tr>
									<td align="center">
										<a href="http://bit.ly/2qI3BXd" target="_black"><img src="https://www.shuga.io/images/edm/20181114/bonchon-icon.png" width="180" height="241" /></a>
									</td>
								</tr>
							</table>
						</div>
						<div class="column">
							<table align="left">
								<tr>
									<td align="center">
										<a href="http://bit.ly/2JWSjHl" target="_black"><img src="https://www.shuga.io/images/edm/20181114/flaming-don-icon.png" width="180" height="241" /></a>
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div><!-- /COLUMN WRAP -->


					<div class="content" align="center">
						<p style="text-align:left;padding-top:25px;padding-bottom:30px;font-size: 14px;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #4a4a4a;">
							Please note:<br>
							1.Times Bookstore: Walk-in Shuga timings are 11am - 5pm daily<br>
							2.BonChon: Only Bugis+ outlet is a Shuga-friendly store<br>
							<br><br>
							Thank you!
							<br>Shuga Team</p>
					</div>
				</td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
