<tr>
	<td class="full-width-image edm">
		<br>
		Hi {{profile.displayName}},<br>
		<br>
        You are invited to visit Jameson Furnishings warehouse! Enjoy 35% off storewide and earn 200 Walk-in Shuga the moment you visit them. <br>
        <br>
		<a style="outline:none;" target="_blank" href="https://home-fix.com/collections/summer-warehouse-sale">
			<img src="https://www.shuga.io/images/edm/2018111001/2018111001.jpg" width="600">
		</a>
        <br>
        <br>
        Enjoy the weekend!<br>
        <br>
        Regards,<br>
        Shuga Team<br>
        <br>
	</td>
</tr>
