<tr>
    <td class="full-width-image header">
        <img src="https://www.shuga.io/images/header.jpg" width="600" alt="Shuga"/>
    </td>
</tr>

		<tr>
			<td>
				<style>
					body {
						font-size: 15px;
						font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
					}
			
					.congrats {
						font-weight: bold;
						font-size: 25px;
						font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
					}
			
					a:link {
						color: #0000EE;
						text-decoration: none;
					}
			
					a:visited {
						color: #0000EE;
						text-decoration: none;
					}
			
					a:hover {
						color: #0000EE;
						text-decoration: none;
					}
				</style>
				<br><br>
				<div style="margin-bottom: 20px;">Dear {{profile.displayName}},</div>
				<b style="font-size:24px;">Shuga Special - Claim your reward now!</b>

				<br><br>
				We are here to inform you that you have a <b>$600 e-Gift Card</b> (which includes 2 Signature POWERSLIM
				Treatments) <b>absolutely FREE</b> from London Weight Management. Please claim it before 10 August 2019.
				<br><br>
				<div align="center"><a
						href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=600VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_31.07.2019"><img
							src="https://res.cloudinary.com/www-shuga-io/image/upload/v1564455489/edm/topbanner.jpg" width="70%"></div></a>

				<div style="margin-top: 25px; margin-bottom: 25px;" align="center">
					<a
						href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=600VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_31.07.2019" style="text-decoration:none;"><strong
							style="background-color:#F6304D; border-radius:3px; color:#ffffff; font-size:16px; font-weight:bold; padding:10px; text-decoration:none; ">Collect
							It Now</strong></a>
				</div>

				</p>

				<p><b>POWERSLIM - No.1 Most Effective Slimming Treatment in London Weight Management^</b>:<br>
					🔥 Highly recommended in TV variety show - Lady First Singapore<br>
					🔥 Instantly help you shed weight (Lose up to 2kg & 8-22cm in just 90mins*)<br>
					🔥 Burn fat in areas exercises can't achieve<br>
					🔥 Reduce Cellulite<br>
					🔥 Tone arms<br>
					🔥 Get smaller Waist<br>

				</p>

				<p>Formulated to deliver fast and quick results, witness the POWER of the uniquely formulated fat burn
					ampoule and our ALL-NEW POWERSLIM technology to blast fats in a healthy manner. Experience it now!
				</p>

				<div style="margin-top: 25px; margin-bottom: 25px;" align="center">
					<a
						href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=600VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_31.07.2019"><img
							src="https://res.cloudinary.com/www-shuga-io/image/upload/v1564455489/edm/banner.jpg" width="100%"></a>
				</div>
				<p style="font-size:11px; line-height: 13px; margin-top: 15px; color: #4E4E4E;">
					Exclusively for new customers with weight concerns, female, aged 18 and above only. *90min does not
					include one-on-one consultation and full-body flab + weight analysis. Refers to full-body weight
					loss. Individual results may vary. By responding to this mailer, you agree to be contacted for
					follow-up purposes, unless a subsequent Withdrawal of Consent is submitted via London Weight
					Management Website. Your information will be kept confidential. ^Based on 131 female customers who
					experienced one trial session of PowerSlim treatment between June 2016 and Nov 2016. Other T&C
					apply.</p>
					<br><br>
			</td>
		</tr>
	</table>
	</td>
	</tr>
	</td>
	</tr>

	<tr>
		<td style="width:600px;padding-top: 20px;padding-bottom: 20px;background-color: #ebeaef">
			<table width="100%" align="center" style="width:100%">
				<tr>
					<td align="center">
						<a href="https://shuga.app.link/eHiPsAG8LJ" target="_blank"><img
								src="https://www.shuga.io/images/appStore.jpg" width="100" alt="App Store"/></a>
						<a href="https://shuga.app.link/eHiPsAG8LJ" target="_blank"><img
								src="https://www.shuga.io/images/googleStore.jpg" width="100" alt="Google play"/></a>
					</td>
				</tr>
	
			</table>
		</td>
	</tr>
	<tr>
		<td style="width:600px;padding-top: 15px;padding-bottom: 15px;background-color: #615199">
			<table width="100%" align="center">
				<tr>
					<td align="center">
						<a href="https://www.shuga.io/contact.html" class="link" target="_blank">Contact Us</a>
						<a href="https://www.shuga.io/faq.html" class="link" target="_blank">FAQ</a>
						<a href="https://www.shuga.io/privacy.html" class="link" target="_blank">Privacy Policy</a>
						<a href="https://www.shuga.io/terms.html" class="link" target="_blank">Terms & Conditions</a>
						{{#if userToken}}
						<a href="{{domainName}}/user/unsubscribe/{{userToken}}" class="link" target="_blank">Unsubscribe</a>
						{{/if}}
					</td>
				</tr>
				<tr>
					<td align="center" style="padding-bottom: 5px">
						<p class="address" style="width: 90%;color: #dddddd; margin-top: 10px;">
							This is an auto-generated email. Please do not reply directly to this email.
						</p>
	
					</td>
				</tr>
			</table>
		</td>
	</tr>