<style>
        a:link {color:#202020; text-decoration:none; }
        a:hover {color:#202020; text-decoration:none;}
        a:visited {color:#202020; text-decoration:none;}
        </style>
<tr>
    <td>
	    <p>Hi {{profile.displayName}},</p>

        <a href="https://newyorkskinsolutions.com.sg/promo/hcp2019-yl.html?Media=EDM-SHUGA&p2=Shuga_Edm_jpg_Yvonne_27Aug&utm_source=Shuga&utm_medium=email&utm_campaign=Shuga_edm_Yvonne_jpg_Hydrocollagen_1FreetmtandKit_27Aug2019"><img src="https://www.shuga.io/images/edm/2019082701/banner.jpg"></a>
	
        <p style="text-align: center; margin-top:20px;margin-bottom:30px;">Simply click the <b>REDEEM NOW</b> button below to reserve your slot! </p>
		   
        <p style="text-align: center;">
            <a href="https://newyorkskinsolutions.com.sg/promo/hcp2019-yl.html?Media=EDM-SHUGA&p2=Shuga_Edm_jpg_Yvonne_27Aug&utm_source=Shuga&utm_medium=email&utm_campaign=Shuga_edm_Yvonne_jpg_Hydrocollagen_1FreetmtandKit_27Aug2019" style="background-color:#D60155; border-radius:3px; color:#ffffff; font-size:16px; font-weight:bold; padding:10px; text-decoration:none; font-weight:bold;">REDEEM NOW</a><br/>
        </p>
        
	    <p style="text-align: center; margin-top:20px;">Offer ends on 8 sept 2019</p>
    
        <p style="margin-top: 30px;">
            Looking forward to serving you!<br/>
            New York Skin Solutions<br>
            6363 5566
        </p>

        <p style="font-size:11px">
            *Results may vary <br/>
            T&C: Exclusively for New Customers with skin conditions only. Total treatment session will be 150 minutes and will be inclusive of a detailed skin scan, consultation and diagnosis.
        </p>
    </td>
</tr>