<tr><td>

<br><br>
<div style="margin-bottom: 20px;">Dear {{profile.displayName}},</div>
<b style="font-size:24px;">Reminder: Your Member Reward is still with us!</b> 

<br><br>
We are here to inform you that you have a <b>$300 e-Gift Card</b> (which includes 1 Signature POWERSLIM Treatments) <b>absolutely FREE</b> from London Weight Management. Please claim it before 14 October 2019. <br><br>
<div align="center"><a href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=300VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_08.10.2019"><img src="https://www.shuga.io/images/edm/2019100801/topbanner.jpg" width="70%"></div></a>						  

<div style="margin-top: 25px; margin-bottom: 25px;" align="center">
	<a href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=300VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_08.10.2019"><strong style="background-color:#F6304D; border-radius:3px; color:#ffffff; font-size:16px; font-weight:bold; padding:10px; text-decoration:none">Collect It Now</strong></a>
	</div>
		
</p>
						  
						  <p><b>POWERSLIM - No.1 Most Effective Slimming Treatment in London Weight Management^</b>:<br>
🔥 Highly recommended in TV variety show - Lady First Singapore<br>
🔥 Instantly help you shed weight (Lose up to 2kg & 8-22cm in just 90mins*)<br>
🔥 Burn fat in areas exercises can't achieve<br>
🔥 Reduce Cellulite<br>
🔥 Tone arms<br>
🔥 Get smaller Waist<br>

						  </p>		  
						  
						  <p>Formulated to deliver fast and quick results, witness the POWER of the uniquely formulated fat burn ampoule and our ALL-NEW POWERSLIM technology to blast fats in a healthy manner. Experience it now! </p>			  

<div style="margin-top: 25px; margin-bottom: 25px;" align="center">
	<a href="https://londonweight.com.sg/promo/giftcard_new.html?Media=EDM-SHUGA&p2=SHUGA_EDM_GIFTCARD_NEW&utm_source=SHUGA&utm_medium=EDM&utm_content=300VCH&utm_campaign=SHUGA_EDM_GIFTCARD_NEW_REMINDER_08.10.2019"><img src="https://www.shuga.io/images/edm/2019100801/banner.jpg" width="100%"></a>
	</div>
						<p style="font-size:11px; line-height: 13px; margin-top: 15px; color: #4E4E4E;">
			 Exclusively for new customers with weight concerns, female, aged 18 and above only. *90min does not include one-on-one consultation and full-body flab + weight analysis. Refers to full-body weight loss. Individual results may vary. By responding to this mailer, you agree to be contacted for follow-up purposes, unless a subsequent Withdrawal of Consent is submitted via London Weight Management Website. Your information will be kept confidential. ^Based on 131 female customers who experienced one trial session of PowerSlim treatment between June 2016 and Nov 2016. Other T&C apply.</p>
						</td></tr></table></td></tr>
</td>
</tr>           
  
					
 
