<tr>
	<td>
		<style>
			img {
				max-width: 100%;
			}
			table.body-wrap { width: 100%;}

			.container {
				display:block!important;
				max-width:600px!important;
				margin:0 auto!important; /* makes it centered */
				clear:both!important;
			}

			.content {
				padding:15px;
				max-width:600px;
				margin:0 auto;
				display:block;
			}

			.content table { width: 100%; }
			.column {
				width: 300px;
				float:left;
			}
			.column tr td { padding: 15px; }
			.column-wrap {
				padding:0!important;
				margin:0 auto;
				max-width:600px!important;
			}
			.column table { width:100%;}

			.clear { display: block; clear: both; }

			@media only screen and (max-width: 600px) {

				a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

				div[class="column"] { width: auto!important; float:none!important;}

				table.social div[class="column"] {
					width:auto!important;
				}

			}
		</style>
		<table class="body-wrap" cellspacing="0" cellpadding="0"
			   style="padding-left:8px;padding-right:8px;">
			<tr>
				<td></td>
				<td class="container">

					<!-- content -->
					<div class="content">
						<table>
							<tr>
									<img src="https://www.shuga.io/images/edm/20190102/20190102-edm-header.png" width="100%" />
									<br><br>
									Happy 2019! On behalf of the Shuga team, here's wishing you a healthy and happy New Year! <br>
									<br>
									<b>2018 Updates</b><br>
									Shuga is pleased to have bagged 2 awards. We could not have done it without you!<br>
									<br>
									<a href="http://www.futr.today/singapore2018/awards/" target="_blank">Best Retail Solution</a><br>
									FUTR Awards 2018 (formerly known as Millennial 20/20)<br>
									<br>
									<a href="https://www.straitstimes.com/singapore/new-centre-to-support-heartland-businesses" target="_blank">Best Technology Partner Award</a><br>
									Shuga is pleased to have bagged 2 awards. We could not have done it without you!<br>
									<br>
									We also want to kickstart the year by sharing some good news with you. From March 2018, we have seen <b>>400,000 footfall</b> from Shuga users across all partner stores!<br>
									<br>
									Shuga Goals were also launched in November whereby extra incentives are given to users when they visit or shop with partner stores. There has been an upward trend in user interaction with partner stores and the average ROI in December alone being 21x.<br>
									<br>
									More exciting news await! Shuga will be introducing 2 new marketing features to drive footfall and sales. Partners can start advertising through Shuga Candies and Coupons. We have planned for a full digital journey to offline interaction. More details to be released real soon!<br>
									<br>
									In the meantime, please feel free to reach out to <a href="mailto:stefanie@shuga.io" target="_blank">stefanie@shuga.io</a> should you want to discuss marketing opportunities for your brand!<br>
									<br>
									We wish everyone a good year ahead!<br>
									<br><br>
								</td>
							</tr>
						</table>
					</div>

				</td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
