<tr>
	<td>
		<style>
			img {
				max-width: 100%;
			}
			table.body-wrap { width: 100%;}

			.container {
				display:block!important;
				max-width:600px!important;
				margin:0 auto!important; /* makes it centered */
				clear:both!important;
			}

			.content {
				padding:15px;
				max-width:600px;
				margin:0 auto;
				display:block;
			}

			.content table { width: 100%; }
			.column {
				width: 300px;
				float:left;
			}
			.column tr td { padding: 15px; }
			.column-wrap {
				padding:0!important;
				margin:0 auto;
				max-width:600px!important;
			}
			.column table { width:100%;}

			.clear { display: block; clear: both; }

			@media only screen and (max-width: 600px) {

				a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

				div[class="column"] { width: auto!important; float:none!important;}

				table.social div[class="column"] {
					width:auto!important;
				}

			}
		</style>
		<table class="body-wrap" cellspacing="0" cellpadding="0"
			   style="
			   padding-left:30px;padding-right:25px;
				background-image: url('https://www.shuga.io/images/edm/2018050901/bg@2x.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: 10px 10px;">
			<tr>
				<td></td>
				<td class="container">

					<!-- content -->
					<div class="content">
						<table>
							<tr>
								<td>
									<br><br>Dear {{profile.displayName}},<br><br></span>
									Have you claimed your complimentary Shuga Wheel spin? Don't miss the chance to walk away with 50,000 Shuga!<br>
									<br>
									<br>
									We have launched Candie-meter, that enables you to get unlimited spins just by picking Candies up!<br>
									<br>
									<div style="width: 100%; display:  table;">
										<div style="display:table-cell; text-align:center;vertical-align:middle;">
											<img src="https://www.shuga.io/images/edm/2019021801/1.png"  style="width: 100%"/>
										</div>
									</div>
									<div style="width: 100%; display:  table;">
										<div style="display:table-cell; text-align:center;vertical-align:middle;">
											<img src="https://www.shuga.io/images/edm/2019021801/2.png"  style="width: 100%"/>
										</div>
									</div>
									<br>
									<br>
									Have fun picking Candies up around the island and earn yourself some Shuga along the way. <br>
									<br>
									Regards,<br>
									The Shuga Team<br>
									<br>
									<br>
								</td>
							</tr>
						</table>
					</div>

				</td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
