<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<tr>
    <td>
        <div style="display: table;">
            <div
                style="width: 600px;height: 319px;object-fit: contain;background: url('https://shugasvc.github.io/delta/dist/images/edm/20200204/bkg@3x.png');background-repeat: round;background-size: contain;display: table-footer-group;">
                <div
                    style="width: 600px;height: 38px;font-family: Montserrat, Arial, sans-serif;font-size: 24px;font-weight: 600;line-height: 1.5;letter-spacing: 0.24px;text-align: center;color: #fefefe;text-transform: uppercase;padding-top: 20px;margin: 0 auto 0 auto;">
                    Enjoy up to
                </div>
                <div
                    style="width: 356px;height: 132px;border-radius: 10px;border: solid 3px #ffffff;background-color: #ec008c;text-align: center;margin: 0 auto 0 auto;">
                    <span
                        style="font-family: Montserrat, Arial, sans-serif;font-size: 129px;font-weight: bold;line-height: 1;letter-spacing: 2.58px;text-align: center;color: #fefefe;">
                        10%
                    </span>
                </div>
                <div style="width: 345px;height: 60px;margin: 0 auto 0 auto;">
                    <div
                        style="display: inline;float: left;font-family: Montserrat-ExtraBold, Arial, sans-serif;font-size: 54.5px;font-weight: 900;line-height: 1.17;letter-spacing: 2.73px;text-align: center;color: #ffffff;text-transform: uppercase;">
                        Cashback</div>
                    <div
                        style="display: inline;float: left;font-family: Montserrat, Arial, sans-serif;font-size: 21px;line-height: 1.71;letter-spacing: -0.53px;text-align: left;color: #ffffff;">
                        *
                    </div>
                </div>

                <div
                    style="width: 340px;height: 67px;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 20px;font-weight: 600;line-height: 1.4;letter-spacing: -0.2px;text-align: center;color: #ffffff;margin: 0 auto 0 auto;">
                    with selected restaurants this Feb!
                </div>
            </div>

            <div style="width: 600px;height: 3px;background-color: #ea3171;order: 2;"></div>

            <div
                style="width: 600px;height: 89px;background-color: #63529a;vertical-align: middle;display: table-header-group;">
                <div style="padding-top: 18px;">
                    <div style="width: 377px;margin: 0 auto 0 auto;">
                        <div style="display: inline;float: left;">
                            <img style="width: 124px;height: 55px;"
                                src="https://shugasvc.github.io/delta/dist/images/edm/20200204/shuga@3x.png"
                                alt="Shuga">
                        </div>

                        <div style="display: inline;float: left;padding-top: 14px;">
                            <span
                                style="font-family: Montserrat-Light, Arial, sans-serif;font-size: 21px;font-weight: 300;color: #fefefe;padding: 0 21px 0 21px;">
                                X
                            </span>
                        </div>

                        <div style="display: inline;float: left;">
                            <img style="width: 186px;height: 51px;"
                                src="https://shugasvc.github.io/delta/dist/images/edm/20200204/creativeeateries-logo@3x.png"
                                alt="creative eateries">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div style="margin: 0 46px 44px 46px;width: 506px;">
            <div
                style="width: 493px;background-color: #bd64b1;font-family: Montserrat-Bold, Arial, sans-serif;font-size: 16px;font-weight: bold;line-height: 1.13;letter-spacing: -0.16px;text-align: left;color: #ffffff;padding: 10px 0 10px 13px;margin-bottom: 10px;">
                PARTICIPATING STORES:
            </div>

            <!-- the first row -->
            <div style="display: flex;padding-top: 9px;">
                <div style="width: 243px;padding-right: 19px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Bangkok Jam
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/group-bangkok-jam-signatures@3x.png"
                            alt="Bangkok Jam">
                    </div>
                </div>

                <div style="width: 243px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Eat@Taipei
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/taiwan-fav-lu-rou-fan@3x.png"
                            alt="Eat@Taipei">
                    </div>
                </div>
            </div>
            <div
                style="width: 506px;height: 1px;border-top: solid 1px #615199;background-color: #000000;margin: 8px 0 8px 0;">
            </div>

            <!-- the second row -->
            <div style="display: flex;padding-top: 9px;">
                <div style="width: 243px;padding-right: 19px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Flaming Don
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/flaming-don-tbp-portrait-tv-slides-group-2@3x.png"
                            alt="Flaming Don">
                    </div>
                </div>

                <div style="width: 243px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Kueh & Mee
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/hot-food@3x.png" alt="Kueh & Mee">
                    </div>
                </div>
            </div>
            <div
                style="width: 506px;height: 1px;border-top: solid 1px #615199;background-color: #000000;margin: 8px 0 8px 0;">
            </div>

            <!-- the third row -->
            <div style="display: flex;padding-top: 9px;">
                <div style="width: 243px;padding-right: 19px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Suki-Ya
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/shabu-shabu@3x.png" alt="Suki-Ya">
                    </div>
                </div>

                <div style="width: 243px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Suki-Ya Kin
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/sky-kin-collagen-soup@3x.png"
                            alt="Suki-Ya Kin">
                    </div>
                </div>
            </div>
            <div
                style="width: 506px;height: 1px;border-top: solid 1px #615199;background-color: #000000;margin: 8px 0 8px 0;">
            </div>

            <!-- the fourth row -->
            <div style="display: flex;padding-top: 9px;">
                <div style="width: 243px;padding-right: 19px;">
                    <div
                        style="width: 243px;color: #615199;font-family: Montserrat-SemiBold, Arial, sans-serif;font-size: 16px;font-weight: 600;line-height: 1.13;letter-spacing: -0.16px;text-align: left;padding-bottom: 5px;">
                        Typhoon Cafe
                    </div>
                    <div style="display: flex;">
                        <img style="width: 243px;height: 144px;object-fit: contain;"
                            src="https://www.shuga.io/images/edm/20200204/70492073-2419632778310493-7144846489678774272-o@3x.png"
                            alt="Shuga">
                    </div>
                </div>

                <div style="width: 243px;">
                    <div style="width: 243px;text-align: left;padding-top: 20px;">
                        <span
                            style="font-family: Montserrat-Medium, Arial, sans-serif;font-size: 14px;font-weight: bolder;line-height: 20px;text-align: left;color: #000000;text-transform: uppercase;">
                            Terms and Conditions apply.
                        </span><br />
                        <span
                            style="font-family: Montserrat-Medium, Arial, sans-serif;font-size: 14px;line-height: 20px;text-align: left;color: #000000;">
                            Cashback at 5% for subsequent purchases
                        </span><br />
                        <span
                            style="font-family: Montserrat-Medium, Arial, sans-serif;font-size: 14px;line-height: 20px;text-align: left;color: #000000;">
                            Receipts have to be submitted within 48 hours from purchase on Shuga app
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div style="width: 600px;height: 7px;background-color: #ea3171;"></div>
        <div style="width: 600px;height: 175px;background-color: #2e2e2e;">
            <div
                style="font-family: Montserrat, Arial, sans-serif;font-size: 16px;line-height: 1.13;letter-spacing: -0.16px;text-align: center;color: #ffffff;padding-top: 23px;">
                Connect with us</div>
            <div style="padding-top: 16px;text-align: center;">
                <a href="https://www.instagram.com/shugasg/">
                    <img style="width: 12px;height: 22px;object-fit: contain;background-color: #000000;"
                        src="https://www.shuga.io/images/edm/20191223/facebook-logo@3x.png" alt="Shuga Facebook link">
                </a>
                <a href="https://www.facebook.com/Shugasg/">
                    <img style="width: 23px;height: 23px;object-fit: contain;background-color: #000000;margin-left: 22px;"
                        src="https://www.shuga.io/images/edm/20191223/instagram-logo@3x.png" alt="Shuga Instagram link">
                </a>
            </div>
            <p
                style="font-family: Montserrat, Arial, sans-serif;font-size: 12px;line-height: 1.5;letter-spacing: -0.12px;text-align: center;color: #ffffff;padding-top: 16px;">
                <a style="color: #ffffff" href="https://api.shuga.io/user/unsubscribe/{{userToken}}" target="_blank">
                    Click here if you wish to unsubsribe.
                </a>
            </p>
            <p
                style="text-align: center;font-family: Montserrat, Arial, sans-serif;font-size: 12px;line-height: 1.5;letter-spacing: -0.12px;color: #ffffff;padding-top: 12px;">
                <a style="color: #ffffff" href="https://www.shuga.io/faq.html">FAQ</a>
                <a style="color: #ffffff;padding-left: 15px;" href="https://www.shuga.io/privacy.html">Privacy</a>
                <a style="color: #ffffff;padding-left: 15px;" href="https://www.shuga.io/terms.html">Term</a>
            </p>
        </div>
    </td>
</tr>