<tr style="color:#202020; font-family: Helvetica; font-size:14px; line-height:150%;">
    <td><img src="https://www.shuga.io/images/edm/20200318/haoheader.jpg" width="600" height="auto"></td>
</tr>
<tr style="color:#202020; font-family: Helvetica; font-size:14px; line-height:150%;">
    <td>
        <p style="text-align: left;margin-top: 18px;">Hi {{profile.displayName}},</p>

        <p style="text-align: left;margin-top: 18px;">Shuga is proud to welcome HAO group as a Shuga partner! You can
            now expect up to
            2.1% Cashback* on your groceries spend. They have 45 stores (and counting) islandwide so be sure to visit
            one near you now!
            <br><br>
            HAO Corp is the parent company of four retail formats consisting of HAO mart, HAO Halal Hub, HAO megamart,
            and Eccellente by HAO mart. Having different formats allows HAO Corp to better serve our customer’s needs,
            allowing us to provide the best shopping experience. </p>
    </td>
</tr>
<tr style="color:#202020; font-family: Helvetica; font-size:14px; line-height:150%;">
    <table width="100%">
        <td width="50%" valign="top" align="left">
            <h3 style="text-align: left; color: #615199; ">HAO mart</h3>
            <img style="text-align: left;" width="280" height="auto"
                src="https://www.shuga.io/images/edm/20200318/haomart.jpg">
            <p style="text-align: left; margin-right: 20px;">HAO mart is a network of convenience stores and
                supermarkets in Singapore under HAO Corp, which began its establishment in 2016. HAO mart expanded
                rapidly and has now opened more than 40 stores within a span of three years.</p>
        </td>
        <td width="50%" valign="top" align="left">
            <h3 style="text-align: left; color: #615199;">HAO Halal Hub</h3>
            <img style="text-align: left;" width="280" height="auto"
                src="https://www.shuga.io/images/edm/20200318/halalhub.jpg">
            <p style="text-align: left; margin-right: 20px;">HAO Halal Hub is a network of Halal speciality stores under
                HAO Corp catering to the needs of our Muslim community. The first HAO Halal Hub was established in 2018
                and now has more than 10 outlets islandwide.</p>
        </td>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0">

        <td width="50%" valign="top" align="left">
            <h3 style="text-align: left; color: #615199; border-top: 1px solid #615199"><br>HAO megamart</h3>
            <img style="text-align: left;" width="280" height="auto"
                src="https://www.shuga.io/images/edm/20200318/megamart.jpg">
            <p style="text-align: left; margin-right: 20px;">HAO megamart is HAO Corp’s largest outlet located at The
                Grandstand. Opened in 2019, HAO megamart sits on 46,000 sqft of land. This space allows HAO megamart to
                hond more than 30,000 SKUs ranging from electronics to consumer goods.</p>
        </td>

        <td width="50%" valign="top" align="left">
            <h3 style="text-align: left; color: #615199; border-top: 1px solid #615199; ; border-p: 1px solid #615199">
                <br>Eccellente by HAO mart</h3>
            <img style="text-align: left;" width="280" height="auto"
                src="https://www.shuga.io/images/edm/20200318/eccellente.jpg">
            <p style="text-align: left; margin-right: 10px; ">Eccellente by HAO mart is HAO Corp’s network of
                supermarkets providing an elevated retail experience at affordable prices. Eccellente by HAO mart allows
                customers to purchase international products in one store, while providing top notch customer service
                experience and affordability.</p>
        </td>

    </table>
</tr>
<tr>
    <td>
        <p style="text-align: left; font-size: 9.5px; line-height:12px; border-top: 1px solid #615199"><br><b>TERMS
                AND CONDITIONS APPLY.</b><br>
            Cashback is capped at $5.25 and only applicable to first time purchases at any HAO outlet<br>(HAO mart,
            Eccellente by HAO mart, HAO Halal Hub &amp; HAO megamart)<br>
            Subsequent purchases are entitled to 0.7% UNLIMITED Cashback<br>
            Categories including (but not limited to) tobacco, newspapers/magazines, NPN products, phone cards or
            top-ups are not entitled for Cashback<br>
            All eligible receipts have to be submitted within 48 hours from purchase on Shuga App </p><br>
    </td>
</tr>
<tr bgcolor="#ea3171" height="7px">
    <td></td>
</tr>
<tr bgcolor="#2e2e2e" height="175px">
    <td>
        <p style="text-align: center; color: white">
            Connect with us
            <br>
            <br>
            <a href="https://www.facebook.com/Shugasg/" style="text-decoration:none;">
                <img src="https://www.shuga.io/images/edm/20191223/facebook-logo@3x.png" alt="Shuga Facebook link"
                    width="12" height="22">
            </a>
            <a href="https://www.instagram.com/shugasg/" style="text-decoration:none;">
                <img src="https://www.shuga.io/images/edm/20191223/instagram-logo@3x.png" alt="Shuga Instagram link"
                    width="23" height="23" style="padding-left: 5px">
            </a>
            <br>
            <span style="font-size: 12px">
                <a style="color: #ffffff" href="https://api.shuga.io/user/unsubscribe/{{userToken}}" target="_blank">
                    Click here if you wish to unsubsribe.
                </a>
                <br>
                <a href="https://www.shuga.io/faq.html" style="color:#FFFFFF;"> FAQ</a>&nbsp; &nbsp; &nbsp;
                <a href="https://www.shuga.io/privacy.html" style="color:#FFFFFF;">Privacy</a>&nbsp; &nbsp;
                <a href="https://www.shuga.io/terms.html" style="color:#FFFFFF;">Term</a></span></p>
        <br>
    </td>
</tr>